
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --text-color: #ffffff;
  --card-front-color: #772D2D;
  --card-back-color: #BC9E3E;
}

body{
    background: url(/assets/img/bg-desktop-red.webp);
    font-family: Josefin Sans;
    color: var(--text-color)
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
  }
